version: "3.9"

services:
  node-app:
    container_name: node-app
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NODE_ENV: development
    image: opensource-api
    command: npm run dev
    ports:
      - 9009:9009
    environment:
      - MONGODB_URL=mongodb://mongodb:27017/myapp
      - PORT=9009
    depends_on:
      - mongo
    networks:
      - os-api-network
    volumes:
      - .:/app
      - /app/node_modules

  mongo:
    container_name: mongodb
    image: mongo:5.0
    volumes:
      - mongo-db:/data/db
    networks:
      - os-api-network

volumes:
  mongo-db:
networks:
  os-api-network:
    name: os-api-network
    driver: bridge
