body{
    height: 100vh;
    width: 100wh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    color: rgb(255, 160, 43);
}
#main{
    text-align: center;
    font-size: 2em;
}

